In [23]:
import pandas as pd
df = pd.read_json('./posts.json')
df.head()

,postId,heading,tags,desc
0,5646464,Insurance company refused to pay my medical claim,"[medical insurance, fraudery]",I was admitted for 5 days and was charged 7000...
1,56545482,College administration forced me to pay tuitio...,"[education, universities, student]",The College says that the students who take an...
2,5645544,Refused admission to university,"[student, engineering, education]",I reached the Admission councel after 4 days t...
3,564643434,Hospital refused to provide medical aid,[medical],"Found someone having an accident on the road, ..."
4,564454546464,Lawyers are adverizing themselves in Websites,"[constitution, technology, advertisement, law]","As per the constitution act 1960, lawyers are ..."

In [24]:
# User's legal problem description
user_input = "I am facing isssues in getting my permanent documents from my university"

In [25]:
# Preprocess and calculate TF-IDF vectors
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(df['heading'])
user_vector = tfidf_vectorizer.transform([user_input])

In [26]:
cosine_similarities = cosine_similarity(user_vector, tfidf_matrix).flatten()

# Create a dataframe to store similarity scores
results = pd.DataFrame({'PostID': df['postId'], 'Similarity': cosine_similarities})

# Sort by similarity score in descending order
results = results.sort_values(by='Similarity', ascending=False)
results

         PostID  Similarity
2       5645544    0.559022
1      56545482    0.216508
0       5646464    0.000000
3     564643434    0.000000
4  564454546464    0.000000
5      56463434    0.000000

In [27]:
results = results[results['Similarity'] > 0.00]
results

     PostID  Similarity
2   5645544    0.559022
1  56545482    0.216508